.root {
  @apply bg-primary text-primary mr-3 inline-flex
  items-center justify-center cursor-pointer transition duration-150 ease-in-out
  p-0 shadow-none border-gray-200 border box-border capitalize;

  position: relative;
  padding: 10px;
  /* width: 225px; */
  font-size: 0.875rem;
  
  & > span {
    @apply absolute;
    right: 3px;
    top: 0px;
  }

  &:hover {
    @apply transform scale-110 bg-hover;
  }
}

.color {
  @apply text-black transition duration-150 ease-in-out;

  &:hover {
    @apply text-black;
  }

  &.dark,
  &.dark:hover {
    color: white !important;
  }
}

.active {
  &.size {
    @apply border-accents-9 border-2;
  }
}
